@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  background-color: #0c0a09;
  border: none;
  color: #e7e5e4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide_mobile {
  flex: 0 0 100%;
  min-width: 0;
  max-height: 525px;
  overflow: clip;
}
